* {
	margin: 0px;
	padding: 0px;
}

div.header {
	background: transparent url("/images/header.jpg");
	height:	164px;
	width: 1024px;
}

div.content {
	background: transparent url("/images/body_bg.jpg") no-repeat;
	min-height:	400px;
	width: 1024px;
}

div.footer {
	background: transparent url("/images/footer.jpg");
	height:	87px;
	width: 1024px;
}

div.login_box {
	font: 14px "Arial" bold;
	color: #66666; 
	margin-left: 200px;
	margin-top: 100px;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	background: transparent url("/images/bg_box.png") repeat-y;
	width: 344px;
	height: 150px;
}
div.header_box {
	background: transparent url("/images/head_box.jpg");
	width: 344px;
	height: 11px;
	position: fixed;
	margin-left: 200px;
	margin-top: 89px;
}

div.footer_box {
	background: transparent url("/images/footer_box.jpg") no-repeat -2px;
	width: 344px;
	height: 16px;
	position: fixed;
	margin-left: 200px;
	margin-top: 250px;
}

.login_box label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.login_box input
{
margin-left: 4.5em;
}

img.thumb {
  display: block;
  height: 150px;
}


table {
	border: 1px solid rgb(216,216,216);
	border-spacing: 0;
	width: 80%;
}

table tr.hdr {
	background-color: rgb(234,234,234);
	color: rgb(156,156,156);
	text-align: left;
}